setup/*
examples/*.png
examples/core
examples/.config
examples/.local*
*~
*.depend
*.layout
obj
bin
local
.local
examples/.cfg
*.o
wblog.log
dependencies
PolyVR.cscope_file_list
src/cluster/VRServer
src/cluster/clusterserver
src/cluster/clusterclient
src/version/version.h
examples/tmp_pics/
extras/python/Leap/*.pyc
extras/python/Myo/*.pyc
examples/vals*.dat
*blend1
.local*
./core
cscope.out
*.cscope_file_list
ressources/webBuild
build
ressources/cefWin/build
ressources/cefWin/*.exe
ressources/cefWin/.vs
tmp
packages
