[Desktop Entry]
Type=Application
Name=PolyVR
Terminal=true
MimeType=application/x-polyvr
Exec=PolyVR.sh
Icon=ressources/gui/logo_icon.png
Categories=IDE;X-Development
